html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 100%;
    min-height: 100%;
    position: relative;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 62%;

    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin-bottom: 62px;
}

a {
    text-decoration: underline;
    color: black;
}

ul {
    list-style-type: none;
}

.post-panel {
    border-bottom-style: inset;
}

.post-panel>p>small, .post>p>small {
    color: lightgrey;
}

.pagination {
    text-align: center;
}

.pagination>span.current {
    color: lightgrey;
}

.pagination a {
    text-decoration: none;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}