html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 100%;
}

body {
    padding-top: 60px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

ul {
    list-style-type: none;
}