{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="post">
        <p><small>{{ post.createdAt.date }}</small></p>
        <h1>{{ post.title }}</h1>
        <p>{{ markdown | raw}}</p>
    </div>
{% endblock %}
